* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 30px auto;
  width: 400px;
  height: 400px;

  text-align: center;
}

.btn {
  padding: 14px 32px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.btn-full {
  background-color: #3a86ff;
  text-decoration: none;
  color: #fff;
  border-radius: 30px;
}

.btn-solid {
  margin-top: 50px;
  border-radius: 20px;
  background-color: transparent;
}
